footer {
  margin-top: 28px;
}

.footer-links {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;
}

.footer-link {
  text-decoration: underline;
  opacity: 30.16%;
  transition: opacity 0.1s ease;

  &:active {
    opacity: 1;
  }
}

/* iPhone 8 */
@media screen and (min-width: 375px) and (min-height: 667px) {
  .footer-links {
    column-gap: 52px;
  }
}

/* iPhone 12 */
@media screen and (min-width: 390px) and (min-height: 844px) {
  footer {
    margin-top: 34px;
  }
}
