:root {
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--font-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overscroll-behavior: none;
}

body {
  max-height: 100dvh;
  background-image: image-set(
    url("../assets/images/bg.webp") 1x,
    url("../assets/images/bg-2x.webp") 2x,
    url("../assets/images/bg-3x.webp") 3x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090119;
}

/* iPhone 8 */
@media screen and (max-width: 375.5px) and (max-height: 667.5px) {
  body {
    background-position: center calc(50% + 40px);
  }
}

.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  text-align: center;
  text-shadow: 0 0 48px rgba(var(--color-shadow-rgb), 0.83);

  .lang-fr & {
    font-size: 38px;
    line-height: 42px;
  }

  .lang-pt & {
    font-size: 40px;
    line-height: 44px;
  }
}

.close-btn {
  opacity: 0.4;
  transition: opacity 0.1s ease;

  &:active {
    opacity: 1;
  }
}
