@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    url("./assets/fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Semibold.woff") format("woff");
  font-family: "SF Pro Display";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src:
    url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-family: "SF Pro Display";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src:
    url("./assets/fonts/SFProDisplay-Heavy.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Heavy.woff") format("woff");
  font-family: "SF Pro Display";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("./assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-family: "Roboto";
  font-display: swap;
}
