.banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 390px;
  height: 100dvh;
  margin-inline: auto;
  padding: 16px 16px 0;
  overflow-x: hidden;
}

.banner-body {
  padding-inline: 8px;
  padding-bottom: 8px;
}
