.banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 390px;
  height: 100dvh;
  margin-inline: auto;
  padding: 16px 16px 0;
}

.banner-body {
  padding-inline: 8px;
  padding-bottom: 8px;
}

/* iPhone 8 */
@media screen and (min-width: 375px) and (min-height: 667px) {
  .banner-wrapper {
    padding-top: 37px;
  }
}

/* iPhone 12 */
@media screen and (min-width: 390px) and (min-height: 844px) {
  .banner-wrapper {
    padding-top: 64px;
    padding-bottom: 30px;
  }
}
