body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  line-height: 0;
}

h1,
h2,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-size: initial;
  line-height: initial;
}

button,
a {
  outline: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
